{% extends 'base.html'%}

{% block contenido%}
 <h1>Listado Juegos</h1>

 <div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Imagen</th>
              </tr>
            </thead>
            <tbody>

                {% for juego in juegos%}
                <tr>
                    <th scope="row">{{juego.id}}</th>
                    <td>{{juego.nombre}}</td>
                    <td>{{juego.descripcion}}</td>
                    <td>{{juego.imagen}}</td>
                  </tr>

                {% endfor %}
            
            </tbody>
          </table>
    </div>
 </div>

{% endblock %}