* {
    margin: 0;
    padding: 0;
}


.contenedor-grid {
    position: absolute;
    display: grid;
    height: 100vh;
    width: 100%;
    background: lightseagreen;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 50px 250px 100px auto 200px;
}


.arriba-izquierda {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 40px 0 0 40px;
}

.buscar {
    margin-top: 150px;
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
}

.buscar h1 {
    margin-bottom: 15px;
}


input {
    height: 35px;
    width: 550px;
    border: none;
    background: lightgray;

}

.sel-buscar {
    position: absolute;
    height: 35px;
    padding: 5px;
    border: none;
    background: lightgray;
}

.contenedor-cat {
    margin-top: 20px;
    grid-row: 3/5;
    grid-column: 2/3;
    height: 550px;
    background: red;
}

.cat {
    background-color: blue;
    height: 180px;
    width: 180px;
    margin: 50px;
}

.cat-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    height: 170px;
    width: 170px;
}