.form-group {
    margin-bottom: 10px;
}

#botones_registro {
    padding: 15px 0 30px 0;
}


.form-group input {
    border: 3px #fbc02d solid;
    box-shadow: 0 0 10px #fbc02d;
    transition: box-shadow 0.3s ease-in-out; 
}

html {
    background-color: #fbc02d;
    background-image: url("./imagenes/fondo3.webp");
}


.form-group input:focus {
    box-shadow: 0 0 20px #fbc02d; 
}

body .mt-5 {
    background:#4F4F4F ;
}

#formulario-registro, h2{
    color: white;
}


.container-fluid h2 {
    color: white;
}

.form-group .btn {
    background-color: #fbc02d;
    border: none;
    box-shadow: 0 0 10px #fbc02d;
}

.form-group .btn:hover {
    background-color: #4F4F4F;
}