html, body {
    height: 100%;
    margin: 0;
}

.barra-navegacion-personalizada {
    height: 50px;
    background-color: rgb(224, 166, 4);
}

.contenedor-principal {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

.contenedor-principal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./imagenes/banner_categorias.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: 1;
}

.contenedor-imagenes {
    position: relative;
    z-index: 2;
    background-color: #444;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 1000px;
}

.contenedor-buscador {
    position: absolute;
    top: 0px;
    z-index: 3;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.contenedor-buscador h2 {
    color: rgb(224, 166, 4);
    text-shadow: 2px 2px black;
    margin-bottom: 10px;
}

.contenedor-buscador input {
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
}

.contenedor-buscador button {
    border-radius: 30px;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: rgb(224, 166, 4);
    color: white;
}
