{% extends 'administrar_juegos/base_juego.html' %}
{% load static %}

{% block content %}
<h2>Editar Categoría</h2>
<form method="POST" action="{% url 'editar_categoria' categoria.id %}">
    {% csrf_token %}
    <label for="nombre">Nombre de la Categoría:</label>
    <input type="text" id="nombre" name="nombre" value="{{ categoria.nombre_categoria }}" required>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
<a href="{% url 'mostrar_categorias' %}" class="btn btn-secondary">Cancelar</a>
{% endblock %}
