{% extends 'base_categorias.html' %}
{% load static %}

{% block title %}Categoría Acción{% endblock %}

{% block content %}
<div class="contenedor-main row">
    <div class="contenedor-juego col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="contenedor-imagen">
            <a href="{% url 'mario' %}">
                <img src="{% static './imagenes/mario_kart.jpeg' %}" alt="Mario Kart" class="imagen-juego">
            </a>
        </div>
        <div class="info">
            <p>Mario Kart</p>
            <p>$39.000</p>
        </div>
    </div>
    <div class="contenedor-juego col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="contenedor-imagen">
            <a href="{% url 'crash' %}">
                <img src="{% static './imagenes/ctr.png' %}" alt="CTR Crash" class="imagen-juego">
            </a>
        </div>
        <div class="info">
            <p>CTR Crash</p>
            <p>$49.000</p>
        </div>
    </div>
</div>
{% endblock %}