/* Reinicia los márgenes y rellenos por defecto de todos los elementos */
* {
  margin: 0;
  padding: 0;
}

/* Asegura que el HTML y el body ocupen toda la altura y el ancho de la ventana */
html, body {
  height: 100%;
  width: 100%;
}

/* Establece la fuente principal del documento y algunos atributos de tipografía */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto; /* Ajusta el tamaño óptico de la fuente */
  font-weight: bold; /* Define la fuente en negrita */
}

/* Define un contenedor de cuadrícula para la disposición de la página */
.contenedor-grid {
  display: grid;
  background: lightseagreen;
  grid-template-columns: 150px auto auto 150px; /* Define una cuadrícula con cuatro columnas */
  grid-template-rows: 40px 250px 100px auto 200px; /* Define cinco filas con diferentes alturas */
}

/* Estilo para la barra superior que ocupa toda la primera fila de la cuadrícula */
.barra-superior {
  grid-column: 1/5; /* Ocupa las cuatro columnas de la cuadrícula */
  grid-row: 1/2; /* Ocupa la primera fila de la cuadrícula */
  border: 2px solid black;
  background: red;
  padding: 10px; /* Añade un relleno interno de 10px */
}

/* Estilo para la sección de búsqueda, que ocupa toda la segunda fila de la cuadrícula */
.buscar {
  margin-top: 40px;
  height: 300px;
  margin-right: 0;
  grid-row: 2/3; /* Ocupa la segunda fila de la cuadrícula */
  grid-column: 1/5; /* Ocupa las cuatro columnas de la cuadrícula */
  text-align: center; /* Centra el texto horizontalmente */
  border: 2px solid black;
  background: blue;
}

/* Estilo para los encabezados h1 dentro de la sección de búsqueda */
.buscar h1 {
  margin-bottom: 15px; /* Añade un margen inferior de 15px */
}

/* Estilo para el campo de entrada de texto */
input {
  height: 35px;
  width: 550px;
  border: none;
  background: lightgray;
}

/* Estilo para el selector de búsqueda */
.sel-buscar {
  position: absolute;
  height: 35px;
  padding: 5px;
  border: none;
  background: lightgray;
}

/* Estilo para el contenedor de categorías, ubicado en la cuarta fila y tercera columna de la cuadrícula */
.contenedor-cat {
  margin-top: 10px;
  grid-row: 4/5; /* Ocupa la cuarta fila de la cuadrícula */
  grid-column: 3/4; /* Ocupa la tercera columna de la cuadrícula */
  display: flex;
  height: 520px;
  width: 850px;
  border: solid 2px black;
  text-align: center; /* Centra el texto horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  background: orange;
}

/* Estilo para cada categoría dentro del contenedor de categorías */
.cat {
  background-color: blue;
  height: 180px;
  width: 180px;
  margin: 30px;
  grid-column: 1/3;
  cursor: pointer; /* Cambia el cursor a pointer al pasar sobre el elemento */
}

/* Estilo hover para las categorías, añade un borde blanco */
.cat:hover {
  border: 4px solid white;
}

/* Estilo para organizar las categorías en fila */
.cat-horizontal {
  display: flex;
  flex-direction: row; /* Alinea los elementos en fila */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas si no caben en una sola */
  justify-content: center; /* Centra horizontalmente las categorías */
}

/* Estilo para las imágenes dentro de las categorías */
.foto-cat {
  height: 180px;
  width: 180px;
}

/* Estilo para las imágenes de búsqueda, ubicadas cerca del campo de entrada */
.foto-buscar {
  position: relative;
  height: 40px;
  bottom: 7px;
  left: 5px;
  cursor: pointer; /* Cambia el cursor a pointer al pasar sobre el elemento */
}
