{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident Evil 4</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/juego.css' %}"> 
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inicio' %}">Categorias</a>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link enlace-sesion" href="#">Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="contenedor-principal">
        <div class="contenido-principal">
            <img src="{% static './imagenes/resident_evil_4.png' %}" alt="Resident Evil 4" class="imagen-juego">
            <small>Inicie sesión para añadir el artículo a su carrito</small>
            <h1 class="titulo-juego">Resident Evil 4</h1>
            <div class="precio-juego">
                Precio: 43.000
            </div>
            <div class="text-center">
                <button class="boton-amarillo">Añadir al carrito</button>
            </div>
            <div class="text-center mt-3">
                <a href="./terror.html" class="btn btn-secondary">Volver a terror</a>
            </div>
        </div>
        <div class="lado-derecho">
            <p>
                Resident Evil 4 (estilizado como 4 resident evil)— conocido en Japón como Biohazard 4 
                (estilizado como 4 biohazard) (バイオハザード Baiohazādo Fō )— es un videojuego de acción-aventura de disparos en tercera persona 
                perteneciente al subgénero de terror y supervivencia desarrollado por Capcom Production Studio 4.
            </p>    
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
