body {
    background-color: #fbc02d;
    background-image: url("../imagenes/fondo3.webp");
}

#formulario-login-container {
    background: #4F4F4F;
    padding: 2% 3%;
    color: white;
    border: 3px solid #fbc02d;
    border-radius: 5px;
    box-shadow: 0 0 10px #fbc02d;
}

.form-control {
    background-color: #333;
    color: white;
    border: 1px solid #fbc02d;
}

.form-control:focus {
    background-color: #333;
    color: white;
    border-color: #fbc02d;
    box-shadow: 0 0 10px #2da9fb;
}

.btn-primary {
    background-color: #4F4F4F;
    border: none;
}

.btn-primary:hover {
    background-color: #333;
    box-shadow: 0 0 10px #fbc02d;
}
