body {
    background-color: #fbc02d;
    background-image: url("../imagenes/fondo3.webp");
}

#panel-usuario {
    background: #4F4F4F;
    padding: 2% 3%;
    color: white;
    border: 3px solid #fbc02d;
    border-radius: 5px;
    box-shadow: 0 0 10px #fbc02d;
}

.btn {
    border: none;
}

.btn-danger {
    background-color: #f44336;
    box-shadow: 0 0 10px #fbc02d;
}

.btn-danger:hover {
    background-color: #d32f2f;
    box-shadow: 0 0 10px #fbc02d;
}
