{% extends 'base_categorias.html' %}
{% load static %}

{% block title %}Categoría Acción{% endblock %}

{% block content %}
<div class="contenedor-main row">
    <div class="contenedor-juego col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="contenedor-imagen">
            <a href="{% url 'ocean' %}">
                <img src="{% static './imagenes/oceano.png' %}" alt="ocean" class="imagen-juego">
            </a>
        </div>
        <div class="info">
            <p>Ocean is Home: Survival Island</p>
            <p>CLP$ 25.000</p>
        </div>
    </div>
    <div class="contenedor-juego col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="contenedor-imagen">
            <a href="{% url 'last' %}">
                <img src="{% static './imagenes/last day on earth.jpg' %}" alt="last" class="imagen-juego">
            </a>
        </div>
        <div class="info">
            <p>Last Day On Earth: Superivencia</p>
            <p>CLP$ 15.000</p>
        </div>
    </div>
</div>
{% endblock %}